<head>
    <link rel="stylesheet" href="../css/redirect-page.css">
    <link rel="stylesheet" href="../css/anuncios.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <header>
        <h1>URLShortener</h1>
        <a href="{{URLExists}}" class="TimerInput lockHover">Aguarde 5 Segundos</a>
    </header>
    <main>
        <section class="anuncio1">
            <h2>Anuncio</h2>
        </section>
        <section class="anuncio2">
            <h2>Anuncio</h2>
        </section>
        <section class="anuncio3">
            <h2>Anuncio</h2>
        </section>
        <section class="anuncio4">
            <h2>Anuncio</h2>
        </section>
        <section class="anuncio5">
            <h2>Anuncio</h2>
        </section>
    </main>
    <script src="../scripts/timer.js"></script>

</body>